body {
    background-color: #C0C0C0;
}
nav {
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
    border-bottom: none;
    align-items: center;
    color: #28511C;
}

.leftElements {
    font-family: Poppins;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    display: flex;
    gap: 20px;
}

.rightLinks {
    font-family: Poppins;
    font-size: 17px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    display: flex;
    gap: 40px;
}

.loginButton {
    color: #C0C0C0;
    border-radius: 5px;
    background: #FFF;
    padding: 0 10px 0 10px;
}

a {
    text-decoration: none; 
    color: #28511C;
  }
  
  a:hover {
    color: #555;
    font-weight: bold; 
  }

.logo {
    height: 50px;
    width: 100px;
}