.registration-container {
    background-color: white;
    margin: auto;
    margin-top: 70px;
    border-radius: 40px;
    padding: 100px;
    display: grid;
    justify-content: center;
    text-align: left;
    max-width: 700px;
}

.registration-container h1 {
    color: #000;
    font-family: Poppins;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.registration-container form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.registration-container input {
    height: 30px;
    width: 300px;
    border-color: black;
    margin: 0 auto;
}

.registration-container button {
    font-size: 20px;
    background-color: #28511C;
    color: white;
    border-radius: 10px;
    width: 100px;
    margin: 0 auto;
    justify-content: center;
    /* padding: 10px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 20%;
    margin: 0 auto; */
}

.title {
    color: #000;
    font-family: Poppins;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-bottom: 10px;
}

.registration-container label {
    color: #000;
    font-family: Poppins;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    /* line-height: normal; */
    padding-right: 10px;
}

.registration-container button:hover {
    background-color: #45a049;
}

.registration-container p {
    text-align: center;
}

.registration-container a {
    color: #28511C;
    text-decoration: none;
}

.registration-container a:hover {
    text-decoration: underline;
}