.card {
  /* width: 466.297px;
  height: 602px;
  flex-shrink: 0;
  border-radius: 28.873px;
  box-shadow: 5.77458px 5.77458px 5.77458px 0px rgba(0, 0, 0, 0.25);
  background: lightgray -0.448px -180.063px / 100% 162.18% no-repeat; */
  box-shadow: 0 2px 4px 0 #242424;
  transition: 0.3s;
  border-radius: 20px;
  background-color: #ffffff;
  margin: 30px;
  flex-shrink: 0;
  height: 440px;
  width: 320px;
}

.card img {
  border-radius: 20px 20px 0 0;
  /* round corners*/
  height: 240px;
  width: 320px;
}