.plant-item a:hover,
.plant-item a:active {
  background: #ffd900;
}
.plant-item { display: flex;}

.plant-content {
  padding: 0;
}

.plant-img {
  width: 150px;
  height: 150px;
  margin-right: 1rem;
  border-radius: 25%;
}


.plant-info h2 {
  font-size: 2.5rem;
  margin: 0 0 0.5rem 0;
  font-weight: normal;
  color: #113946;
  display: inline;
}
.plant-info h3 {
    margin: 0.2em 0;
}

.plant-item:hover h2,
.plant-item:active h2,
.plant-item:hover h3,
.plant-item:active h3 {
  color: #292929;
}

.plant-item__info h3 {
  margin: 0;
}