.body-logged-in {
  background-color: #C8BEA0;
}

.edit-plant-container {
  background-color: white;
  padding: 20px;
  border-radius: 20px;
  width: 50%;
  margin: 50px auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.edit-plant-container h2 {
  color: #333;
  font-size: 30px;
}

.edit-plant-container form {
  margin-top: 20px;
  margin-bottom: 20px;
}

.edit-plant-container label {
  display: block;
  margin-bottom: 8px;
}

.edit-plant-container input,
.edit-plant-container textarea {
  padding: 8px;
  margin-bottom: 12px;
  box-sizing: border-box;
}

.edit-plant-container button {
  padding: 10px 15px;
  font-size: 16px;
  background-color: #28511C;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.edit-plant-container button:hover {
  background-color: #4b9535;
}