.body-logged-in {
  background-color: #C8BEA0;
}

.header {
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 20px;
  margin-left: 75px;
  text-align: left;
  color: #28511C;
}

.user-body {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.5;
  margin-left: 75px;
  text-align: left;
  color: #28511C;
}

.user-plants-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: flex-start;
  margin: 0 auto;
  text-align: left;
}

.user-plant-card {
  box-shadow: 0 2px 4px 0 #242424;
  transition: 0.3s;
  border-radius: 20px;
  background-color: #ffffff;
  margin: 30px 50px 30px 40px;
  flex-shrink: 0;
  height: fit-content;
  width: 350px;
  overflow: hidden;
  /* grid-template-columns: 1fr 1fr 1fr; */
}

.user-plant-card img {
  border-radius: 20px 20px 0 0;
  /* round corners*/
  height: 240px;
  width: 350px;
}

.user-plant-details {
  padding: 20px;
  padding-bottom: 30px;
  font-size: 22px;
  font-weight: 600;
  overflow: hidden;
  color: #28511C;
}

.user-plant-details strong {
  display: inline;
  margin-bottom: 5px;
  font-weight: bold;
}

.add-plant-button {
  background-color: #28511C;
  border: none;
  color: white;
  padding: 30px 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 40px;
  margin: 170px 150px 150px 170px;
  border-radius: 100%;
}

.add-plant-button:hover {
  background-color: #4b9535;
}

.editButton {
  padding: 10px 15px;
  font-size: 16px;
  font-weight: 600;
  background-color: #28511C;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 5%;
  margin-left: 5px;
}

.editButton:hover {
  background-color: #4b9535;
}

.deleteButton {
  padding: 10px 15px;
  font-size: 16px;
  font-weight: 600;
  background-color: #949494;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 40px;
}

.deleteButton:hover {
  background-color: #cec8c8;
}

.pageinfo {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.5;
  margin-left: 75px;
  text-align: left;
  color: #28511C;
}

.search-tools {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 75px;
  margin-right: 75px;
  margin-top: 40px;
}

.search,
.add {
  display: flex;
  align-items: center;
}

.search {
  margin-right: auto;
  display: inline;
}

.add {
  margin-left: auto;
}


.search button {
  margin-left: 10px;
}

.add .add-plant-button {
  margin-left: 10px;
}

.search-button {
  margin-bottom: 15px;
  padding: 10px 15px;
  font-size: 16px;
  background-color: #28511C;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.user-plant-header {
  margin-left: 150px;
  font-size: 20px;
  text-align: left;
  color: #28511C;
}